<header id="content-header">
  <h1><%= @pledge.name %>'s Pledge for <%= link_to @project.name, @project %></h1>
</header>

<h3>Name</h3>
<p><%= @pledge.name %></p>

<h3>City</h3>
<p><%= @pledge.city %></p>

<h3>Email</h3>
<p><%= @pledge.email %></p>

<h3>Amount</h3>
<p><%= @pledge.amount %></p>

<h3>Comment</h3>
<p><%= @pledge.comment %></p>

<%= link_to "Edit", edit_project_pledge_path(@project, @pledge), class: "button" %>
<%= link_to "Delete", [@project, @pledge], class: 'button', 
                  method: :delete, data: { confirm: "Are you sure you want to delete " + @pledge.name + "'s pledge? This action cannot be undone." } %>
                  