<aside id="sidebar">
  <nav>
    <ul>  
      <li class="events">
        <%= link_to "Upcoming Events", events_path, class: 'button fa' %>
      </li>
      <li class="events">
        <%= nav_link_to "Free Events", filtered_events_path(:free) %>
      </li>
      <li class="events">
        <%= nav_link_to "Past Events", filtered_events_path(:past) %>
      </li>
    
      <% if current_user_admin? %>
      <li class="create-event">
        <%= link_to 'Add New Event', new_event_path, class: 'button' %>
      </li>
      <% end %>
    </ul>
  </nav>
  <%= content_for(:side) %>
</aside>
