<%= form_for([@project, @pledge]) do |f| %>
  <%= render "shared/errors", object: @pledge %>

  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </li>
      <li>
        <%= f.label :city %>
        <%= f.text_field :city, placeholder: "Atlanta, GA" %>
      </li>
      <li class="required">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </li>
      <li class="required pledges-amount">
        <%= f.label :amount %>
        <% Pledge::PLEDGE_AMOUNT.each do |pledge| %>
          <span class="pledge-amount">
            <%= f.radio_button :amount, pledge %> <%= number_to_currency(pledge) %>
          </span>
        <% end %> <!-- do -->
      </li>
      <li class="required">
        <%= f.label :comment %>
        <%= f.text_area :comment, cols: 40, rows: 7, placeholder: "What compelled you to support this project?" %>
      </li>
      
    </ol>
    <p>
      <%= f.submit "Submit" %>
      <%= link_to "Cancel", @project, class: 'button' %>
    </p>
  </fieldset>
<% end %>