<h1 id="content-header">Pledges for <%= link_to @project.name, @project %></h1>

<% @pledges.each do |p| %>
  <p><%= p.name %> (<%= p.city %>), <%= number_to_currency(p.amount) %>, <%= p.comment %></p>

<% end %>

<footer>
  <%= link_to "Make New Pledge", new_project_pledge_path(@project), class: " button ok pledge" %>
</footer>
   
