<article id="user">
  <header>
  <%= profile_image_for(@user) %>
    <h1><%= @user.name %> (a.k.a. <%= @user.username %>)</h1>
    <h2>
      <% if @user.location %>
        of <%= @user.location %> <br>
      <% end %>
      <%= mail_to(@user.email) %>
    </h2>
    <h3>Member Since</h3>
    <p><%= @user.created_at.strftime("%B %Y") %></p>
    <% if @user.admin? %>
      (Admin)
    <% end %>
  </header>

  <% if @user.pledges.any? %>
    <h3>Pledges</h3>
    <ol id="pledges">
    <% @user.pledges.order("created_at DESC").each do |pledge| %>
      <li>
          <span class="amount"><%= number_to_currency(pledge.amount) %></span>
          <span class="user">for <%= link_to pledge.project.name, pledge.project %></span>
          <span class="date"><%= time_ago_in_words(pledge.created_at) %> ago</span>
          <p>
            &quot;<%= pledge.comment %>&quot;
          </p>
      </li>
    <% end %> <!-- each do -->
  <% end %><!-- if pledges.any? -->
  </ol>

</article>

<footer>
  <nav>
    <% if current_user?(@user) %>
      <%= link_to 'Edit Account', edit_user_path(@user), class: 'button' %>
    <% end %>
    <% if current_user_admin? %>
        <%= link_to "Delete Account", @user, class: "button", method: :delete, data: { comfirm: "Are you sure you want to delete this account? This action cannot be undone." } %>
    <% end %>
  </nav>
</footer>