<%= form_for(@project) do |f| %>
  <%= render "shared/errors", object: @project %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </li>
      <% unless @project.new_record? %>
        <li class="required">
          <%= f.label :slug %>
          <%= f.text_field :slug, size: 30 %>
        </li>
      <% end %><!-- unless -->
      <li class="required">
        <%= f.label :name, "Category" %>
        <p>Please select at least 1 Category:</p>
        <div class="form-columns3">
          <%= f.collection_check_boxes(:category_ids, Category.all.order(name: :asc), :id, :name) %>
        </div> <!-- form-columns3 -->
      </li>
      <li class="required">
        <%= f.label :description %>
        <%= f.text_area :description, cols: 40, rows: 7 %>
      </li>
      <li class="required">
        <%= f.label :pledging_ends_on %>
        <%= f.date_select :pledging_ends_on %>
      </li>
      <li class="required">
        <%= f.label :target_pledge_amount %>
        <%= f.number_field :target_pledge_amount %>
      </li>
      <li class="required">
        <%= f.label :website %>
        <%= f.text_field :website %>
      </li>
      <li class="required">
        <%= f.label :team_members %>
        <%= f.text_field :team_members %>
      </li>
      <li class="required">
        <%= f.label :image_file_name, 'Image Filename' %>
        <%= f.text_field :image_file_name, size: 30,
                         placeholder: "GIF, JPG, or PNG file name" %>
      </li>
    </ol>
    <p>
      <% if @project.new_record? %>
        <%= f.submit "Create Project" %>
      <% else %>
        <%= f.submit "Update Project" %>
      <% end %>
        <%= link_to "Cancel", root_path, class: "button" %>
    </p>
    
  </fieldset>
<% end %>
