<%= form_for([@movie, @review]) do |f| %>
<%= render "shared/errors", object: @review %>

  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </li>
      <li>
        <%= f.label :city %>
        <%= f.text_field :city, placeholder: "Atlanta, GA" %>
      </li>
      <li class="required stars">
        <%= f.label :stars %>
        <% Review::STARS.each do |star| %>
          <span class="star">
            <%= f.radio_button :stars, star %> <%= star %>
          </span>
        <% end %>
      </li>
      <li class="required">
        <%= f.label :comment %>
        <%= f.text_area :comment, cols: 40, rows: 7, placeholder: "What did you love? What did you hate?" %>
      </li>
      
    </ol>
    <p>
      <%= f.submit "Post Review" %>
      <%= link_to "Cancel", @movie, class: 'button' %>

    </p>
  </fieldset>
<% end %>