<% content_for(:title, @user.name) %>

<article id="user">
  <header>
  <%= profile_image_for(@user) %>
    <h1><%= @user.name %></h1>
    <h2><%= mail_to(@user.email) %></h2>
  </header>

<% content_for(:side) do %>
  <% if @liked_events.any? %>
  <h3>Liked <%= pluralize(@liked_events.size, "Event") %></h3>
  <ul>
    <% @liked_events.each do |event| %>
      <li><%= link_to event.name, event %></li>
    <% end %> <!-- liked_events -->
  </ul>
  <% end %><!-- if liked events -->
<% end %> <!-- content_for -->

  <% if @registrations.any? %>
  <h3>Registered for</h3>
    <% @registrations.each do |r| %>
      <h4><%= link_to r.event.name, r.event %></h4>
      <p>Event Date: <%= r.event.starts_at %> <br>
      Registered: <%= time_ago_in_words(r.created_at) %> ago</p>
    <% end %> <!-- registrations -->
  <% end %>

  <footer>
    <nav>
      <% if current_user?(@user) %>
        <%= link_to 'Edit Account', edit_user_path(@user), class: 'button' %>
        <%= link_to 'Delete Account', @user, 
                    method: :delete, 
                    data: { confirm: 'Are you sure you want to permanently delete your account?' },
                    class: 'button' %>
      <% end %>
    </nav>
  </footer>
</article>