<% content_for(:title, "Sign In") %>

<header id= "content-header">
  <h1>Sign In</h1>
</header>
<p>
  Don't have an Account? <%= link_to "Sign Up!", signup_path, class: "button" %>
</p>

<%= form_tag(session_path) do %> 
  <fieldset>
    <p>
      <%= label_tag :email %>
      <%= email_field_tag :email, nil, autofocus: true, required: true %>
    </p>
    <p>
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, required: true %>
    </p>
    <p><%= submit_tag "Sign In" %></p>
  </fieldset>
<% end %> <!-- form_tag  -->


